body {
    font-family: "Comfortaa", sans-serif !important;
    padding: 0;
    margin: 30px;
}

.bar {
    fill: steelblue;
}

.updated {
    fill: rgb(243, 47, 47);
}

.axis-x {
    fill: none;
    font-size: 10;
    text-anchor: middle;
    font-family: sans-serif;
}





